.gameWindow {
	margin: auto;
	text-align: center;
}

#board {
	margin: auto;
	margin-top: 40px;
	position: relative;
}

.boardElement {
	background-color: black;
	position: absolute;
}

#ball {
	border-radius: 50%;
}

#gameButton {
	margin-top: 20px;
}
