.profile_pic {
	border-radius: 50%;
	position: relative;
	position: relative;
}

.profile_pic img {
	width: 100%;
	height: 100%;
	object-fit: cover;
    object-position: center;
}

.online_indicator {
	position: absolute;
	width: 6px;
	height: 6px;
	background-color: green;
	border-radius: 50%;
	bottom: 0;
	right: 0;
	border: 1px solid #fff;
}

.profile_pic_size_40 img {
    width: 40px;
    height: 40px;
}

.profile_pic_size_50 img {
    width: 50px;
    height: 50px;
}

.profile_pic_size_100 img {
    width: 100px;
    height: 100px;
}

