#logo {
	max-height: 1.75rem;
	margin-right: 0.5rem;

	/* to invert the color */
	filter: invert(1);
}

#navBar {
	/* to grow Nav to completely fill the Container inside Navbar */
	flex-grow: 1;
}

/* a.nav-link:last-child {
	margin-left: auto;
} */

/* a.nav-link:last-of-type {
	to display username next to profile pic
	display: flex;
} */

.profile_pic {
	margin-left: 0.5rem;
}
