/* body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
} */

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

/* nav > ul {
	display: flex;
	margin: auto;
}

nav > ul > li {
	list-style-type: none;
	margin: auto;
} */

#root {
	background-color: #000000;
	color: #FFFFFF;
}

html, body, #root {
    height:100%;
}

#root {
	padding: 0.1rem;
}

nav div div a {
	display: flex;
}

nav div div a img {
	max-width:100%;
	max-height:100%;
	
	height: auto;
	margin-right: 1rem;
}

#hellnawh {
	margin-bottom: 0rem;
}
