.match-item {
    margin-bottom: 20px;
}

.match-list {
    list-style-type: none; /* Supprime les puces */
    padding: 0; /* Supprime le padding par défaut */
}

.match-detail {
    display: flex; /* Aligne les éléments en ligne */
    align-items: center; /* Aligne verticalement au centre */
}

.match-detail h3 {
    margin: 0 10px; /* Marge autour du texte */
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile_pic_username {
    display: flex;
    align-items: center; /* Centre verticalement la photo de profil et le nom d'utilisateur */
    justify-content: center; /* Centre horizontalement le conteneur */
    margin-bottom: 20px; /* Marge en bas pour espacement */
}

.profile_pic_username h2 {
    margin-left: 20px; /* Espace entre la photo de profil et le nom d'utilisateur */
}
